/* Popup new message */
.custom-toast {
	position: fixed;
	background: #f0f0f0;
	color: #000;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	padding: 12px 16px;
	max-width: 90vw;
	width: 320px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	z-index: 9999;
	display: flex;
	gap: 10px;
	opacity: 0;
	pointer-events: none;
	animation: slideInBottom 0.4s ease forwards;
}

.custom-toast img {
	width: 32px;
	height: 32px;
	margin-top: 4px;
}

.custom-toast .alert-popup-message {
	width: 17px !important;
	height: 17px !important;
	margin-top: 0px !important;
}

.custom-toast-content {
	flex-grow: 1;
}

.custom-toast strong {
	color: #000;
}

.custom-toast small {
	color: #777;
}

.toast-close {
	cursor: pointer;
	font-weight: bold;
	font-size: 16px;
	margin-left: 10px;
	color: #666;
	transition: color 0.2s;
}

.toast-close:hover {
	color: #000;
}

/* Posição no desktop */
.toast-desktop {
	bottom: 20px;
	right: 20px;
}

/* Posição no mobile */
@media (max-width: 768px) {
	.custom-toast {
		top: 20px;
		left: 5%;
		right: auto;
		bottom: auto;
		transform: translateX(-50%);
		animation: slideInTop 0.4s ease forwards;
		width: 90%;
	}
}

@keyframes slideInBottom {
	from {
		transform: translateY(30px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
		pointer-events: auto;
	}
}

@keyframes slideInTop {
	from {
		transform: translateY(-30px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
		pointer-events: auto;
	}
}

@keyframes slideOut {
	to {
		opacity: 0;
		transform: translateY(30px);
		pointer-events: none;
	}
}

/* End popup new message */


.badge-archived {
	display: inline-block;
	padding: 0.25em 0.4em;
	font-size: 111%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.video-preview {
	position: relative;
	width: 250px;
	height: 16rem;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	background-color: #000;
	/* fundo escuro para simular um vídeo */
	cursor: pointer;
}


.map-preview {
	position: relative;
	width: 250px;
	height: 7rem;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	background-color: #000;
	/* fundo escuro para simular um vídeo */
	cursor: pointer;
}

.map-preview img {
	width: 100%;
	height: auto;
	display: block;
}

.video-preview img {
	width: 100%;
	height: auto;
	display: block;
}

.video-preview .play-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 40px;
	color: white;
	opacity: 0.9;
}

.video-preview .play-icon img {
	width: 50%;
}

.video-preview .duration {
	position: absolute;
	bottom: 5px;
	right: 8px;
	font-size: 12px;
	color: white;
	background: rgba(0, 0, 0, 0.5);
	padding: 2px 5px;
	border-radius: 3px;
}


.location-preview {
	position: relative;
	width: 250px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	background-color: #ccc;
	cursor: pointer;
	font-family: sans-serif;
}

.location-preview img {
	width: 100%;
	height: auto;
	display: block;
}

.location-preview .gradient-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 35px;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
}

.location-preview .timestamp {
	position: absolute;
	bottom: 8px;
	right: 10px;
	font-size: 12px;
	color: white;
	z-index: 2;
}

 /* Modal Styles - Corrigido */
.modal-cust-alert-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-cust-alert-overlay.active {
	opacity: 1;
	visibility: visible;
	z-index: 999999;
}

.modal-cust-alert {
	background-color: white;
	border-radius: 10px;
	width: 80%;
	max-width: 300px;
	padding: 20px;
	text-align: center;
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modal-cust-alert h2 {
	margin-bottom: 15px;
	font-size: 18px;
	color: #333;
}

.modal-cust-alert-button {
	background-color: #28a645;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
	width: 100%;
	font-size: 16px;
	transition: background-color 0.3s;
}

.modal-cust-alert-button:hover {
	background-color: #1e7e34;
}

.modal-cust-alert {
    position: relative;
    padding: 20px;
    background: white;
    border-radius: 8px;
}

.close-modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #888;
}

.close-modal-btn:hover {
    color: #000;
}